Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
x = "Hello"
y =["a", 1, 2.0]
z = 2.0
w = (1,"2",3)

In [11]:
#Q2. Given are some following variables containing data:

#(i) 
var1 = '' 
type(var1)

str

In [12]:
#(ii) 
var2 = '[ DS , ML , Python]'
type(var2)

str

In [13]:
#(iii) 
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [14]:
# (iv) 
var4 = 1.
type(var4)

float

In [15]:
# Q3. Explain the use of the following operators using an example:

2/4 # division

0.5

In [28]:
5 % 2 # remainder

1

In [26]:
5//2 # quotient

2

In [20]:
2**4 #2 to the power of 4

16

In [31]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

list1 = list(range(10))

for i in list1:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

A = int(input("Please enter the first number: "))
B = int(input("Please enter the second number: "))
count = 0

while A % B == 0:
    A = A / B
    count+=1    
    print(count)
    break
else:
    print("not divisble")

Please enter the first number: 42
Please enter the second number: 1
1

In [38]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

list1 = list(range(1,26))

for i in list1:
    if i % 3 == 0:
        print("divisible")
    else:
        print("not")

no
no
divisible
no
no
divisible
no
no
divisible
no
no
divisible
no
no
divisible
no
no
divisible
no
no
divisible
no
no
divisible
no

In [57]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

#* Mutable data types are  list and dictionary. we can change the element of them. 
#*  String & tuples is the immutable data type. we cannot change the element of the of them.  

# example lists:

list1 = [1,2,"ab",4]
list1[1] = 6
list1

[1, 6, 'ab', 4]

In [58]:
# string example
string = "abcd"
string[1] = "f"

TypeError: 'str' object does not support item assignment

In [60]:
# tuples example
a = (1,2,4)
a[1] 
a[1] = 5 # tuple doesn't allow us to replace the element

TypeError: 'tuple' object does not support item assignment

In [73]:
diction = {
    "Hey":123,
    "Hello":234}

print(diction) 

# replace the value of "Hey" 
diction["Hey"] = "replace"
print(diction)

{'Hey': 123, 'Hello': 234}
{'Hey': 'replace', 'Hello': 234}