In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Database is the collection of data that is stored in the structured and unstructured format which helps in storing, ingesting & organizing the data to make it useful. 

# Difference between sql & nosql
# Sql - IN sql data is stored in structured format, means rows and columns in the table. 

# Nosql - In nosql databases stores the data in unstructtured format, which means data is not stored in tabular fomart.

In [33]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL-  Data definition language 

# Create - is used create database and tables which include rows and columns
# Drop is used to drop the complete table or database
# Alter is used to add more columns to the table in the database. 
# Truncate is used to delete all the records of the table, it will not delete the entire table only its records. 

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mycursor.execute("Create table if not exists test2.test_table(C1 INT, C2 Varchar (50), c3 INT)")
mycursor.execute("Alter table test2.test_table add C4 INT")
#mycursor.execute("Truncate table test2.test_table")
#mycursor.execute("Drop table test2.test_table")
#mycursor.execute("Drop database test2")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F489EABB20>

In [19]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# DML - Data manipulation language

# Insert - used to insert values in the table

import mysql.connector as sql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Insert into test2.test_table(c1,c2,c3,c4) values(1,'Daksh',44,123)")
mycursor.execute("Insert into test2.test_table(c1,c2,c3,c4) values(2,'Rahul',55,1000)")
mydb.commit()
mycursor.execute("Select * from test2.test_table")
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F488FE25B0>
(1, 'Daksh', 44, 123)
(2, 'Rahul', 55, 1000)

In [20]:
## update - used to update or modify values in the table

import mysql.connector as sql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Update test2.test_table SET c2 = 'Sethi' WHERE c1 = 1")
mydb.commit()
mycursor.execute("Select * from test2.test_table")
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F488FF0B50>
(1, 'Sethi', 44, 123)
(2, 'Rahul', 55, 1000)

In [22]:
## Delete - used to delete rows from the table

import mysql.connector as sql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("Delete from test2.test_table where c2 = 'Rahul'")
mydb.commit()
mycursor.execute("Select * from test2.test_table")
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F488FF0310>
(1, 'Sethi', 44, 123)

In [24]:
# Q4. What is DQL? Explain SELECT with an example.

# DQL - Data query language

# SELECT - used to print the values of the tables available in the database. We can print the entire table or specific columns. 


import mysql.connector as sql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table(c1,c2,c3,c4) values (3,'Alex', 33,2000)")
mydb.commit()
mycursor.execute("Select * from test2.test_table")
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F488FF0F70>
(1, 'Sethi', 44, 123)
(3, 'Alex', 33, 2000)
(3, 'Alex', 33, 2000)

In [25]:
# Q5. Explain Primary Key and Foreign Key.

# Primary key - is the column  which is used unique identification of table in which values of all rows are unique. It consits of only not null vaules
# Foreign Key - is the column in the database table which works as a link between the two tables.

In [34]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


import mysql.connector as sql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password"
)

# Execute - It is used to execute operations as the sql query in python. 
# Commit -  Commit is used to reflect the data executed by the query.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# from > where > group by > Having > select > order by