In [1]:
# Q1. List any five functions of the pandas library with execution.
import pandas as pd

# read_csv()
# read_excel()
# describe()
# dtypes()
# loc & iloc

In [88]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

name = pd.Series(["Bob", "Rob","Alex"])
age = pd.Series([23,26,30])
income = pd.Series([20000,50000,110000])

data = {
    "A":name,
    "B":age,
    "C":income}

index = pd.Index(range(1,7,2))
df = pd.DataFrame(data)
df = df.set_index(index)
df

      A   B       C
1   Bob  23   20000
3   Rob  26   50000
5  Alex  30  110000

In [27]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

df1 = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})
(df1.loc[0]+df1.loc[1]+df1.loc[2]).Values

60

In [141]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

df2 = pd.DataFrame({"Text":["Alex","james","Neyoo"]})

length = []

for i in df2["Text"]:
    len_no = len(i)
    length.append(len_no)

df2["Word_count"] = length

df2

    Text  Word_count
0   Alex           4
1  james           5
2  Neyoo           5

In [65]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

df.size  # size gives the `total data in the table, it shows table has total 9 entries

9

In [66]:
df.shape # while shape gives the no. of rows and columns in Dataframe

(3, 3)

In [68]:
# Q6. Which function of pandas do we use to read an excel file?

pd.read_excel()

In [91]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.

df3 = pd.DataFrame({"Email": ["john.doe@gmail.com","Alex.star@ymail.com"]})
df3["Username"] = df3["Email"].str.split("@").str[0]
df3

                 Email   Username
0   john.doe@gmail.com   john.doe
1  Alex.star@ymail.com  Alex.star

In [104]:
df4 = pd.DataFrame({"A":[3,8,6,2,9],
                   "B":[5,2,9,3,1],
                   "C":[1,7,4,5,2]})

df5  = df4[(df4["A"]>5) & (df4["B"]<10)]
df5

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [108]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

df1.mean()

Values    30.0
dtype: float64

In [109]:
df1.std()

Values    15.811388
dtype: float64

In [110]:
df1.median()

Values    30.0
dtype: float64

In [148]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

df5 = pd.DataFrame({"Date":[datetime.date(2023, 1 ,1 ),datetime.date(2023 ,1 ,2),
                            datetime.date(2023, 1 ,3),datetime.date(2023, 1 ,4),
                            datetime.date(2023, 1 ,5), datetime.date(2023, 1 ,6),
                            datetime.date(2023, 1 ,7)],
                   "Sale":[100,200,300,400,1000, 20000,40000]})

df5["Moving_Avg"] = df5["Sale"].rolling(window=7,min_periods=1).mean()
df5

         Date   Sale   Moving_Avg
0  2023-01-01    100   100.000000
1  2023-01-02    200   150.000000
2  2023-01-03    300   200.000000
3  2023-01-04    400   250.000000
4  2023-01-05   1000   400.000000
5  2023-01-06  20000  3666.666667
6  2023-01-07  40000  8857.142857

In [133]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday corresponding to each date in the 'Date' column.

df4 = pd.DataFrame({"Date": [datetime.date(2023, 1 ,1 ),datetime.date(2023 ,1 ,2),
                            datetime.date(2023, 1 ,3),datetime.date(2023, 1 ,4),
                            datetime.date(2023, 1 ,5)]})

weekday = []

for date in df4["Date"]:
    weekday_name = date.strftime("%A") 
    weekday.append(weekday_name)
    
df4["Weekday"] = weekday

df4

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [134]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [136]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported? import pandas as pd
import pandas as pd